@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@media only screen and (min-width: 200px) and (max-width: 500px) {
  .aboutContent {
    font-size: medium;
  }
}

.aboutMeCard {
  background-color: #282c34;
  font-size: large;
  max-width: 85%;
  text-align: center;
  margin-right: 30%;
  border-color: gold;
  align-items: center;
}

.aboutHeader {
  font-size: x-large;
  text-align: center;
  margin-top: 5%;
}

.portrait {
  max-width: 35%;
}

.projectDesc {
  border-color: gold;
}

.big-about {
  font-size: 55px;
  font-family: "Lobster", cursive;
}

.content {
  display: flex;
  justify-content: center;
}
.about-content {
  display: flex;
  margin-left: 35%;
}
