.aboutMeCard {
  background-color: #282c34;
  font-size: medium;
  max-width: 600px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.aboutHeader {
  font-size: x-large;
  text-align: center;
  margin-top: 5%;
}

.portrait {
  max-width: 35%;
}
