@media all and (max-width: 750px) {
  img {
    display: block;
    max-height: 880px;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (max-width: 500px) {
  img {
    display: block;

    max-width: 190px;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  img {
    display: block;
    max-width: 250px;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.card.customCard {
  color: whitesmoke !important;
  background-color: #282c34;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 25px;
  max-width: 500px;
  float: none;
}

.descText {
  font-size: small;
}
.project-item {
  border: 3px;
}

.card {
  background-color: #282c34;
}
.card-img-top {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.componentBackground {
  background-color: grey;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.projects-button {
  background-color: grey;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  max-width: 150px;
  font-size: medium;
}

.projects-button:hover {
  color: rgb(0, 0, 0);
  position: relative;
  top: -5px;
}

.Card.Text {
  color: black;
}

.descText {
  font-size: large;
}
.projectTech {
  font-style: italic;
}

.projectsComponent {
  background-color: grey;
}

.finishedProjects {
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 25px;
  max-width: 500px;
  float: none;
  text-align: center;
}
.aboutProjects {
  display: flex;
  justify-content: center;
}
