@media all and (max-width: 750px) {
  img {
    display: block;
    max-height: 880px;
    max-width: 880px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media all and (max-width: 500px) {
  img {
    display: block;

    max-width: 190px;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .card.customCard {
    width: 65%;
    font-size: medium;
  }

  .projects-content {
    margin-left: 18.6% !important;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  img {
    display: block;
    max-width: 250px;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.demo[href^="none"],
[href^="none"] {
  transform: scale(0);
}

.card.customCard {
  color: whitesmoke !important;
  background-color: #282c34;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 25px;
  max-width: 85%;
  /* float: none; */
  text-align: center;
  border: 3px;
  border-color: gold;
  border-radius: 25px;
}
.card-image {
  display: block;
  max-height: 500px;
  max-width: 250px;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
}

.descText {
  font-size: small;
}

.card-img-top {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.componentBackground {
  display: flex;
  justify-content: center;
  border-radius: 25px;
}

.projects-button {
  background-color: grey;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  max-width: 150px;
  font-size: medium;
}

.projects-button:hover {
  color: rgb(0, 0, 0);
  position: relative;
  top: -5px;
}

.Card.Text {
  color: black;
}

.descText {
  font-size: large;
}
.projectTech {
  font-style: italic;
}

.projectsComponent {
  background-color: grey;
  border-radius: 25px;
  width: 700px;
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 15%;
}

.finishedProjects {
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 25px;
  max-width: 500px;
  float: none;
  text-align: center;
  background-color: #282c34;
}

.aboutProjects {
  display: flex;
  justify-content: center;
}

.projectDesc {
  font-size: medium;
}

.nav-items {
  display: flex;
  justify-content: left;
  align-items: center;
}
