@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Shadows+Into+Light&display=swap");

@media all and (min-width: 500px) and (max-width: 750px) {
  .navLogo {
    max-width: 50px;
  }
  .navlink {
    font-size: small !important;
  }
  .navLogo {
    max-width: 70px;
  }
  .navButton {
    max-width: 20px;
    margin-left: 10px;
  }
  .hello {
    font-size: medium;
    padding-top: 20px;
    height: 250px;
    width: 75%;
    text-align: justify;
  }
  .name {
    font-size: medium;
    text-align: justify;
    width: 75%;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .navLogo {
    max-width: 50px;
  }
  .navlink {
    font-size: medium !important;
  }
  .navLogo {
    max-width: 70px;
  }
  .nav-button {
    max-width: 20px;
  }
  .hello {
    font-size: medium;
    padding-top: 10px;
    height: 150px;
    width: 75%;
    text-align: justify;
  }
  .name {
    font-size: medium;
    text-align: justify;
    width: 75%;
  }
}

@media all and (min-width: 200px) and (max-width: 500px) {
  .navLogo {
    max-width: 30px;
  }
  .nav-items {
    font-size: x-small;
  }
  .navLink {
    font-size: small !important;
  }
  .Button {
    font-size: small !important;
  }
  .nav-button {
    max-width: 10px;
  }
  .navLogo {
    max-width: 0px;
  }
}

.App-logo {
  height: 40vmin;
}

.targetAbout {
  margin-top: 8%;
  margin-bottom: 125px;
}
.content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex: 1;
  overflow: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navLink {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  font-family: "Lobster", cursive;
  font-size: 35px;
  display: flex;
  flex-direction: column;

  list-style: none;
  border: none;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.navButton:hover {
  animation: social_image 1.5s ease-in-out;
}

@keyframes social_image {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navButton {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border: none;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.navLogo {
  max-height: 100px;
}

.find_me_text {
  font-size: medium;
}

.Navbar {
  padding-bottom: 1em;
}

.hello {
  background-color: grey;
  color: #282c34;
  margin-top: 10%;
  margin-left: 5%;
  height: 325px;
  width: 45%;
  padding: 65px;
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  font-size: 35px;
  border-radius: 25px;
}

.name {
  color: blue;
}
